{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/qw.css' %}">
    <link rel="stylesheet" href="{% static 'main/img/bgg.jpg' %}">
    <link rel="stylesheet" href="{% static 'main/img/img1.jpg' %}">
    <link rel="stylesheet" href="{% static 'main/img/img2.jpg' %}">
    <link rel="stylesheet" href="{% static 'main/img/img3.jpg' %}">
    
    <title>Головна сторінка</title>
</head>
<body>    
    <header>
    <a href="{% url 'authors' %}">Автори</a>
    <a href="{% url 'book' %}">Книжки</a>
</header>
    <h1>Вітаємо на головній сторінці </h1>  
    <p id = "p1">«Гaрри Пoттер» — серия романов написанная британской писательницей Дж. К. Роулинг. 
        Книги представляют собой хронику приключений юного волшебника Гарри Поттера,
         а также его друзей Рона Уизли и Гермионы Грейнджер, обучающихся в школе чародейства и волшебства Хогвартс.
          Основной сюжет посвящён противостоянию Гарри и тёмного волшебника по имени лорд Волан-де-Морт,
           в чьи цели входит обретение бессмертия и порабощение магического мира.</p>
    <img id = "img1"src="{% static 'main/img/img3.jpg' %}" alt="Ну очень крутая картинка">
    <p id = "p2">Начиная с публикации первого романа «Гарри Поттер и философский камень» 26 июня 1997 года,
         книги серии обрели огромную популярность, признание критиков и коммерческий успех во всём мире.
          По состоянию на февраль 2018 года количество проданных книг составило около 500 миллионов экземпляров,
           вследствие чего серия вошла в список литературных бестселлеров. Романы переведены на 80 языков,
            в том числе на русский. Последние четыре книги последовательно поставили рекорды, 
            как наиболее быстро продаваемые литературные произведения в истории</p>
    <img id = "img2"src="{% static 'main/img/img2.jpg' %}" alt="Ну очень крутая картинка">
    <p id = "p3">Серия представляет собой совмещение многих жанров, среди которых фэнтези и подростковый роман с элементами приключений,
        детектива, триллерa и любовного романа, а также включает в себя немало культурных отсылок.
        По словам Роулинг, главной темой романов является смерть, хотя они и рассматриваются в первую очередь как детская литература. 
        Помимо этого в серии затронуты такие темы, как предрассудки и коррупция.</p>
    <img id = "img3"src="{% static 'main/img/bgg.jpg' %}" alt="Ну очень крутая картинка">
    <p id = "p4">Первоначально главными издателями книг являлись Bloomsbury в Великобритании и Scholastic Press в США.
         С тех пор серия была опубликована многими издательствами по всему миру. Книги были экранизированы кинокомпанией Warner Bros.
          Pictures в виде серии из восьми фильмов, ставшей одной из самых прибыльных в истории кинематографа. 
          Популярность книг также привела к возникновению самых различных товаров, вследствие чего бренд «Harry Potter»
           оценивается в сумму свыше 12,78 млрд долларов</p>
    <img id = "img4"src="{% static 'main/img/img1.jpg' %}" alt="Ну очень крутая картинка">
</body>
</html>